// ーーーーーーーーーーーレスポンシブサイト 基本事項ーーーーーーーーーーー

$media_size: (
    'sm': 'screen and (min-width: 400px)',
    'pc': 'screen and (min-width: 1000px)',                  // @media screen and (min-width:768px)
    'lg': 'screen and (min-width: 1276px)',
    'xl': 'screen and (min-width: 1752px)',
) !default;                                                 // 上書きの可能性のある記述内容

@mixin mq($breakpoint: pc) {                                // 初期値指定
    @media #{map-get($media_size, $breakpoint)} {
        @content;
    }
}

// ーーーーーーーーーーー共通項目 基本事項ーーーーーーーーーーー
* {
margin: 0;
padding: 0;
}

body{
max-width: 1750px;
color: #ffffff;
background-color: black;
}

// ーーーーーーーーーーーメインーーーーーーーーーーーー
.inner{
width: 1500px; /* 好きな幅 */
max-width: 100%;
margin: 0 auto;
padding: 24px;
}
.top_kv_catch{
writing-mode: vertical-rl;
font-size: 36px;
font-weight: bold;
font-family: yumincho;
float: right;
position: fixed;
top: 110px;
left: 1400px;
}

// ーーーーーーーーーーースライドバーーーーーーーーーーーー
.sidebar{
padding-left: 150px;
padding-right: 150px;
}
.top_kv_nav{
display: flex;
}
.top_kv_nav_main{
display: flex;
}
.top_kv_nav_main li{
margin-right: 20px;
}
.top_kv_nav_main li a{
writing-mode: vertical-rl;
font-size: 23px;
font-family: yumincho;
}
.top_kv_text{
margin-top: 20px;
font-family: yumincho;
text-decoration: underline;
}

// 2023/10/19
// 2023/10/19
// 2023/10/19
// 2023/10/19

