// ーーーーーーーーーーーレスポンシブサイト 基本事項ーーーーーーーーーーー

$media_size: (
    'sm': 'screen and (min-width: 400px)',
    'pc': 'screen and (min-width: 1000px)',                  // @media screen and (min-width:768px)
    'lg': 'screen and (min-width: 1276px)',
    'xl': 'screen and (min-width: 1752px)',
) !default;                                                 // 上書きの可能性のある記述内容

@mixin mq($breakpoint: pc) {                                // 初期値指定
    @media #{map-get($media_size, $breakpoint)} {
        @content;
    }
}

// ーーーーーーーーーーー共通項目 基本事項ーーーーーーーーーーー
* {
margin: 0;
padding: 0;
}
body{
max-width: 1750px;
color: #ffffff;
background-color: black;
}

// ーーーーーーーーーーーメインーーーーーーーーーーーー
.inner{
width: 1500px; /* 好きな幅 */
max-width: 100%;
margin: 0 auto;
padding: 24px;
}
.top_kv_catch{
writing-mode: vertical-rl;
font-size: 36px;
font-weight: bold;
font-family: yumincho;
float: right;
position: fixed;
top: 110px;
left: 1400px;
}

// ーーーーーーーーーーースライドバーーーーーーーーーーーー
.sidebar{
padding-left: 150px;
padding-right: 150px;
}
.top_kv_nav{
display: flex;
}
.top_kv_nav_main{
display: flex;
}
.top_kv_nav_main li{
margin-right: 20px;
}
.top_kv_nav_main li a{
writing-mode: vertical-rl;
font-size: 23px;
font-family: yumincho;
}
.top_kv_text{
margin-top: 20px;
font-family: yumincho;
text-decoration: underline;
}

// ーーーーーーーーーーー背景動画ーーーーーーーーーーーー

body {
    background-image: url("../images/black.jpeg");
    background-repeat: repeat;
    width: 100vw;
    height: auto;
    margin: 0;
    text-align: center;
    color: #ffffff;
}
/* header*/
.header{
    height: 100px;
    width: 100%;
    position: relative;
}
.header_kv_logo img{
    position: fixed;
    height: 340px;
    top: 80px;
    left: 50px;
}
    .header_kv_text{
    position: relative;
    }
    .header_kv_text_txt{
    font-size: 36px;
    font-family: yumincho;
    line-height: 1.5;
    writing-mode: vertical-rl;
    position: fixed;
    top: 90px;
    right: 100px;
    }
    /* main*/
    .main{
    margin-top: 800px;
    height: 1030px;
    }
    .inner{
    margin:0 auto;
    width: 1400px;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    }
    .top_inner_contents_text{
    display: block;
    font-family: yumincho;
    float: right;
    line-height: 1.5;
    margin-bottom: 180px;
    }
    .top_inner_contents_text_txt{
    margin-top: 30px;
    }
    .copyright-text{
    text-align: center;
    }
    .top_inner_contents_nav{
    display: block;
    }
    .top_inner_contents_nav_content{
    display: inline-block;
    float: right;
    width: 100%;
    }
    .top_inner_contents_nav_item{
    display: block;
    font-size: 24px;
    font-family: yumincho;
    }
    .top_inner_contents_nav_item a{
    display: block;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 650px;
    }
    .sidebar{
    position: fixed;
    bottom: 50px;
    left: 50px;
    }
    .sidebar .top_kv_nav .top_kv_nav_main{
    display: flex;
    margin-left: 100px;
    }
    .sidebar .top_kv_nav .top_kv_nav_main li{
    font-size: 36px;
    font-family: yumincho;
    writing-mode: vertical-rl;
    display: flex;
    margin-right: 20px;
    }
    .top_kv_text{
    font-size: 15px;
    font-family: yumincho;
    text-decoration: underline;
    margin-top: 15px;
    }
    /* footer*/
    .footer{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    }
    .top_kv_text{
    font-family: yumincho;
    font-size: 15px;
    display: flex;
    margin-left: 100px;
    }
    .top_kv_sub{
    display: flex;
    }
    .top_kv_img{
    margin-top: 10px;
    margin-left: 20px;
    }