// ーーーーーーーーーーーレスポンシブサイト 基本事項ーーーーーーーーーーー

$media_size: (
    'sm': 'screen and (min-width: 400px)',
    'pc': 'screen and (min-width: 1000px)',                  // @media screen and (min-width:768px)
    'lg': 'screen and (min-width: 1276px)',
    'xl': 'screen and (min-width: 1752px)',
) !default;                                                 // 上書きの可能性のある記述内容

@mixin mq($breakpoint: pc) {                                // 初期値指定
    @media #{map-get($media_size, $breakpoint)} {
        @content;
    }
}

// ーーーーーーーーーーー共通項目 基本事項ーーーーーーーーーーー
* {
margin: 0;
padding: 0;
}
body{
max-width: 100%;
color: #ffffff;
margin: 0 auto;
height: auto;
background-color: #1B1A19;
}
// ーーーーーーーーーーー背景動画ーーーーーーーーーーーー
body {
background-repeat: repeat;
}
.inner{
    width: 1400px; /* 好きな幅 */
    max-width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    }
// ーーーーーーーーーーースライドバーーーーーーーーーーーー
.sidebar{
    padding-left: 110px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 300px;
    &.top_kv_nav .top_kv_nav_main{
        display: flex;
        margin-left: 100px;
            &li{
                font-size: 36px;
                font-family: yumincho;
                writing-mode: vertical-rl;
                display: flex;
                margin-right: 20px;
            }
        }
}
.top_kv_nav{
display: flex;
    &_main{
        display: flex;
        & li{
            margin-right: 20px;
                & a{
                    writing-mode: vertical-rl;
                    font-size: 28px;
                    color: #D0C5AB;
                    font-family: yumincho;
                    }
        }
    }
}
.top_kv_sub {
    display: flex;
    justify-items: center;
}
// ーーーーーーーーーーーメインーーーーーーーーーーーー
.main{
    margin-top: 800px;
    height: 1030px;
    position: relative;
}
.top_kv_catch{
    writing-mode: vertical-rl;
    font-size: 36px;
    font-family: yumincho;
    float: right;
    position: fixed;
    top: 110px;
    left: 1400px;
}
.top_inner_contents_text{
    display: block;
    font-family: yumincho;
    float: right;
    line-height: 1.5;
    margin-bottom: 180px;
    &_txt{
        margin-top: 30px;
        text-align: left;
        color: #D0C5AB;
    }
    &nav{
        display: block;
    }
}
    .copyright-text{
    text-align: center;
    }
    .top_inner_contents_nav_content{
    display: inline-block;
    float: right;
    width: 100%;
    }
    .top_inner_contents_nav_item{
    display: block;
    font-size: 24px;
    font-family: yumincho;
    }
    .top_inner_contents_nav_item a{
    display: block;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 650px;
    }