/* 全体 */
.body{
height: 100%;
}
.inner{
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    max-width: 100%;
    padding-top: 5%;
    padding-left: 24px;
    padding-right: 24px;
}
.inner_01{
    width: 700px;
    margin: 0 auto;
    justify-items: center;
}
/* header */
.header_01{
    background-color:#D1C8B4;
    &_wrapper{
        text-align: center;
        width: 150px;
        height:100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        border-left: 1px solid #949FAB;
        border-bottom: 1px solid #949FAB;
        max-height: 100%;
    }
}
.header_01_logo {
    border-bottom: 1px solid #949FAB;
}
.header_01_logo img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
}
.header_01_nav_main{
    display: inline-block;
}
.header_01_nav_main li a{
    height: 140px;
    writing-mode: vertical-rl;
    color: #1B1A19;
    font-family: YuMincho;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.12em;
    line-height: normal;
    margin-top: 10px;
}
.header_01_reserve{
display: inline-block;
width: 100%;
height: 100%;

}
.header_01_reserve a{
    display: inline-block;
    max-height: 350px;
    writing-mode: vertical-rl;
    color: #1B1A19;
    font-family: YuMincho;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.12em;
    line-height: normal;
}
/* main */
main{
background-color:#D1C8B4;
}
h1.main_01_title{
    color: #949FAB;
    text-align: left;
    font-family: YuMincho;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 100px;
    position: relative;
}
.interview::after{
    content: '';
    width: 100px;
    height: 1px;
    display: inline-block;
    background-color: #949FAB;
    position: absolute;
    bottom: 24px;
    left: calc(50% - 238px);
}
h1.main_01_title::after{
    content: '';
    width: 100px;
    height: 1px;
    display: inline-block;
    background-color: #949FAB;
    position: absolute;
    bottom: 24px;
    left: calc(50% - 318px)
}
.main_01_txt_sub{
    font-size: 18px;
    color: #1B1A19;
    text-align: left;
    font-family: YuMincho;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    margin-top: 30px;
    margin-bottom: 60px;
}
h2.main_01_txt_title{
    color: #1B1A19;
    text-align: left;
    font-family: YuMincho;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
}
p.main_01_txt_description{
    color: #1B1A19;
    text-align: left;
    font-family: YuMincho;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: normal;
}
.main_01_txt_name{
    font-size: 20px;
    color: #1B1A19;
    text-align: left;
    line-height: 1.4;
    float: right;
}
.main_01_txt_name span{
    font-weight: 600;
}
.main_01_txt_name p{
    float: right;
}
.reserve_btn_wrapper{
    text-align: center;
    width: 700px;
    margin: auto;
}
.reserve_btn_01{
    margin-top: 160px;
    text-align: left;
    color:#1B1A19;
    height: 100%;
    margin-bottom: 60px;
}
.reserve_btn_01 a {
    display: block;
    font-size: 20px;
    width: 200px;
    font-family: YuMincho;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 60px;
    border: solid 1px #1B1A19;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
}
.reserve_btn_01:hover{
    opacity: 0.5;
}
#menu .main_01_title{
margin-bottom:50px;
}

@media screen and (max-width:1440px){
.main_01_img{
display: none;
}
}
/* ここからSP */
@media screen and (max-width:767px) {
.inner{
    padding-left: 14px;
    width: 330px;
    &_01{
        width: 230px;
    }
}
/* header */
.header_01{
    &_wrapper{
        width: 40px;
        border-left: 1px solid #949FAB;
        border-bottom: 1px solid #949FAB;
        max-height: 100%;
    }
}
.header_01_logo img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}
.header_01_nav_main li a{
    font-size: 16px;
}
.header_01_reserve a{
    font-size: 24px;
    max-height: 140px;
}
/* main */
h1.main_01_title{
    font-size: 28px;
    margin-top: 10px;
    position: relative;
}
h1.main_01_title::after{
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 19px;
    left: calc(50% - 23px)
}
.main_01_txt_sub{
    font-size: 14px;
    margin-bottom: 50px;
    margin-right: 10px;
}
h2.main_01_txt_title{
    font-size: 20px;
    margin-top: 30px;
}
p.main_01_txt_description{
    font-size: 16px;
}
.main_01_img{
    display: none;
}
.main_01_txt_name {
    font-size: 16px;
    margin-right: 10px
}
.reserve_btn_01 a {
    display: block;
    font-size: 17px;
    font-family: YuMincho;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
}
/* ここからタブレット */
@media screen and (min-width:768px) and ( max-width:1024px) {
.inner{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 34px;
        width: 800px;
        &_01{
            width: 450px;
    }
}
/* header */
.header_01{
    &_wrapper{
        width: 110px;
        border-left: 1px solid #949FAB;
        border-bottom: 1px solid #949FAB;
    }
}
.header_01_reserve a{
    max-height: 300px;
    font-size: 34px;
    font-weight: 600;
}
h1.main_01_title::after{
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 208px)
}
.header_01_nav_main li a{
    height: 150px;
    font-size: 24px;
}
.main_01_txt_sub{
    font-size: 18px;
    margin-bottom: 70px;
}
.main_01_img{
    display: none;
}
.main_01_txt_name{
    font-size: 20px;
    color: #1B1A19;
    text-align: left;
    line-height: 1.5;
    text-align: right;
    margin-bottom: 40px;
}
.main_01_txt_name span{
font-weight: 600;
}
}