/* footer*/
.footer{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    }
    .top_kv_text{
    font-family: yumincho;
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
    width: 200px;
    color: #D0C5AB;
    border: solid 2px #D0C5AB;
    border-radius: 20px;
    }
    .top_kv_img{
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
    }