// heder記述
.header{
height: 200px;
width: 100%;
}
.header_kv_logo img{
height: 200px;
position: fixed;
z-index: 10;
top: 50px;
left: 150px;
display: grid;
justify-content: start;
}

.header_kv_text{
position: relative;
}
.header_kv_text_txt{
font-size: 36px;
color: #D0C5AB;
font-family: yumincho;
line-height: 1.5;
writing-mode: vertical-rl;
position: fixed;
top: 50px;
right: 150px;
text-align: justify;
}