/* 全体 */
.inner{
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    max-width: 100%;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
.inner_01{
    width: 600px;
    margin: 0 auto;
    justify-items: center;
}
/* header */
.header_01{
    background-color:#D1C8B4;
    &_wrapper{
        text-align: center;
        width: 150px;
        height:100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        border-left: 1px solid #949FAB;
    }
}
.header_01_logo {
    border-bottom: 1px solid #949FAB;
}
.header_01_logo img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
    height: 140px;
}
.header_01_nav_main{
    display: inline-block;
}
.header_01_nav_main li a{
    height: 140px;
    writing-mode: vertical-rl;
    color: #1B1A19;
    font-family: YuMincho;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.12em;
    line-height: normal;
    margin-top: 10px;
}
.header_01_nav_main li a:hover{
    color: #949FAB;
}
.header_01_reserve{
display: inline-block;
}
.header_01_reserve a{
    height: 140px;
    writing-mode: vertical-rl;
    color: #1B1A19;
    font-family: YuMincho;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.12em;
    line-height: normal;
}
.header_01_reserve a:hover{
    color: #949FAB;
}
/* main */
main{
background-color:#D1C8B4;
}
h1.main_01_title{
    color: #949FAB;
    text-align: left;
    font-family: YuMincho;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 100px;
    position: relative;
}
h1.main_01_title::after{
    content: '';
    width: 100px;
    height: 1px;
    display: inline-block;
    background-color: #949FAB;
    position: absolute;
    bottom: 24px;
    left: calc(50% - 318px)
}
h2.main_01_txt_title{
    color: #1B1A19;
    text-align: left;
    font-family: YuMincho;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
}
p.main_01_txt_description{
    color: #1B1A19;
    text-align: left;
    font-family: YuMincho;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: normal;
}
.main_01_img{
    position: relative;
    z-index: -1;
    & img{
        position: fixed;
        top: 30px;
        left: 0;
    }
}
.reserve_btn_wrapper {
    text-align: center;
    width: 700px;
    margin: auto;
}

.reserve_btn{
    margin-top: 160px;
    text-align: left;
    color:#1B1A19;
    height: 100%;
    margin-bottom: 60px;
}
.reserve_btn a {
    display: block;
    font-size: 20px;
    font-family: YuMincho;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}

/* ここからSP */
@media screen and (max-width:767px) {
.inner{
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 34px;
    width: 330px;
    &_01{
        width: 230px;
    }
}
/* header */
.header_01{
    &_wrapper{
        width: 40px;
        border-left: 1px solid #949FAB;
    }
}
.header_01_logo img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 70px;
}
.header_01_nav_main li a{
    height: 85px;
    font-size: 16px;
}
.header_01_reserve a{
    height: 140px;
    font-size: 20px;
}
/* main */
h1.main_01_title{
    font-size: 28px;
    margin-top: 10px;
    position: relative;
}
h1.main_01_title::after{
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 19px;
    left: calc(50% - 23px)
}
h2.main_01_txt_title{
    font-size: 20px;
    margin-top: 30px;
}
p.main_01_txt_description{
    font-size: 16px;
}
.main_01_img{
    display: none;
}
.reserve_btn_wrapper {
    text-align: center;
    width: 90%;
    margin: auto;
}
}
/* ここからタブレット */
@media screen and (min-width:768px) and ( max-width:1024px) {
.inner{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 34px;
        width: 800px;
        &_01{
            width: 560px;
    }
}
/* header */
.header_01{
    &_wrapper{
        width: 110px;
        border-left: 1px solid #949FAB;
    }
}
h1.main_01_title::after{
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 208px)
}
.main_01_img{
    display: none;
}
}