// ーーーーーーーーーーー背景動画ーーーーーーーーーーーー
body {
background-repeat: repeat;
}
.inner{
    width: 1400px; /* 好きな幅 */
    max-width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    }
// ーーーーーーーーーーースライドバーーーーーーーーーーーー
.sidebar{
    padding-left: 110px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 300px;
    &.top_kv_nav .top_kv_nav_main{
        display: flex;
        margin-left: 100px;
            &li{
                font-size: 36px;
                font-family: yumincho;
                writing-mode: vertical-rl;
                display: flex;
                margin-right: 20px;
            }
        }
}
.top_kv_nav{
display: flex;
    &_main{
        display: flex;
        & li{
            margin-right: 20px;
                & a{
                    writing-mode: vertical-rl;
                    font-size: 28px;
                    color: #D0C5AB;
                    font-family: yumincho;
                    }
        }
    }
}
.top_kv_sub {
    display: flex;
    justify-items: center;
}
// ーーーーーーーーーーーメインーーーーーーーーーーーー
.main{
    margin-top: 800px;
    height: 1030px;
    position: relative;
}
.top_kv_catch{
    writing-mode: vertical-rl;
    font-size: 36px;
    font-family: yumincho;
    float: right;
    position: fixed;
    top: 110px;
    left: 1400px;
}
.top_inner_contents_text{
    display: block;
    font-family: yumincho;
    line-height: 1.5;
    margin-bottom: 180px;
    &_txt{
        margin-top: 30px;
        text-align: left;
        padding-left: 600px;
        line-height: 2.5;
        color: #D0C5AB;
    }
    &nav{
        display: block;
    }
}
    .copyright-text{
    text-align: center;
    }
    .top_inner_contents_nav_content{
    display: inline-block;
    width: 100%;
    margin-bottom: 180px;
    }
    .top_inner_contents_nav_item{
    display: block;
    font-size: 24px;
    font-family: yumincho;
    }
    .top_inner_contents_nav_item p{
        padding-left: 600px;
    }
    .top_inner_contents_nav_item a{
    display: block;
    color: #D0C5AB;
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #555;
    }
    .top_inner_contents_nav_item a span img{
    position: inherit;
    width: 32px;
    height: 32px;
    }
@media screen and (max-width:767px) {
        /* ここにSP向けのCSS指定 */
        .sidebar{
            width: 100%;
            padding: 20px;
            left: 0px;
            bottom: 0;
        }
        .top_inner_contents {
            padding-left: 80px;
        }
        .top_kv_sub {
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        .top_kv_nav{
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        .top_inner_contents_text{
        margin-bottom: 40px;
        }
        .top_inner_contents_text_txt{
        padding: 0;
        font-size: 14px;
        line-height: 1.5;
        }
        .top_inner_contents_nav_item p{
            padding-left: 0;
        }
        .top_inner_contents_nav_item a {
            text-align: left;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .top_inner_contents_nav_item a span img{
            width: 16px;
            height: 16px;
            }
        .top_kv_nav_main li {
            margin-right: 10px;
            margin-left: 10px;
        }
        .top_kv_nav_main li a {
            font-size: 18px;
        }
}
@media screen and (min-width:1920px) {
.main{margin-top: 950px;
}
}
@media screen and (min-width:768px) and ( max-width:1024px) {
        /* ここにタブレット向けのCSS指定 */
        .sidebar{
            bottom: 20px;
            padding: 0;
            left: 50px;
            width: 250px;
        }
        .top_inner_contents {
        padding-left: 300px;
        padding-right: 100px;
        }
        .top_kv_sub {
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        .top_kv_nav{
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        .top_inner_contents_text_txt{
        padding: 0;
        font-size: 19px;
        line-height: 1.5;
        }
        .top_inner_contents_nav_item p{
            padding-left: 0;
        }
        .top_inner_contents_nav_item a {
            text-align: left;
            font-size: 25px;
        }
        .top_kv_nav_main li {
            margin-right: 10px;
            margin-left: 10px;
        }
        .top_kv_nav_main li a {
            font-size: 23px;
        }
        .top_inner_contents_nav_item a span img{
            width: 16px;
            height: 16px;
        }
}