// ーーーーーーーーーーー背景動画ーーーーーーーーーーーー
body {
background-repeat: repeat;
}
header{
background-color: #1B1A19;
}
.main{
position: relative;
height: 100%;
}
.footer{
background-color: #1B1A19;
}
.inner01{
width: 1400px; /* 好きな幅 */
max-width: 90%;
margin: 0 auto;
padding-left: 24px;
padding-right: 24px;
margin-top: 600px;
}
// ーーーーーーーーーーースライドバーーーーーーーーーーーー
.fadein {
    opacity : 0;
    transform : translate(0, 100px);
    transition : all 2.5s;
}
.fadein.active{
    opacity : 1;
    transform : translate(0, 0);
}
.sidebar{
    padding-left: 110px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 300px;
    z-index: 10;
    &.top_kv_nav .top_kv_nav_main{
        display: flex;
        margin-left: 100px;
            &li{
                font-size: 36px;
                font-family: yumincho;
                writing-mode: vertical-rl;
                display: flex;
                margin-right: 20px;
            }
        }
}
.top_kv_nav{
display: flex;
    &_main{
        display: flex;
        & li{
            margin-right: 20px;
                & a{
                    writing-mode: vertical-rl;
                    font-size: 28px;
                    color: #D0C5AB;
                    font-family: yumincho;
                    }
                    a:hover{
                        opacity: 0.5;
                        transition:0.3s
                    }
        }
    }
}
.top_kv_sub {
    display: flex;
    justify-items: center;
}
// ーーーーーーーーーーーメインーーーーーーーーーーーー
.top_kv_catch{
    writing-mode: vertical-rl;
    font-size: 36px;
    font-family: yumincho;
    float: right;
    position: fixed;
    top: 110px;
    left: 1400px;
}
.top_inner_contents{
position: relative;
z-index: 10;
text-align: center;
}
.top_inner_contents_text{
    display: block;
    font-family: yumincho;
    line-height: 1.5;
    margin-bottom: 80px;
    &_txt{
        margin-top: 30px;
        text-align: left;
        padding-left: 600px;
        line-height: 2.5;
        letter-spacing: 1.5px;
        color: #D0C5AB;
    }
    &nav{
        display: block;
    }
}
    .copyright-text{
    text-align: center;
    }
    .top_inner_contents_nav_content{
    display: inline-block;
    width: 100%;
    padding-bottom: 100px;
    }
    .top_inner_contents_nav_item{
    display: block;
    font-size: 24px;
    font-family: yumincho;
    }
    .top_inner_contents_nav_item p{
        padding-left: 600px;
        position: relative;
    }
    .top_inner_contents_nav_item a{
    display: block;
    position: relative;
    color: #D0C5AB;
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid  #D0C5AB;
    }
    .top_inner_contents_nav_item a:hover{
        opacity: 0.5;
    }
    .top_inner_contents_nav_item a img{
    position: absolute;
    top: 5px;
    right: 100px;
    }

@media screen and (max-width:767px) {
        /* ここにSP向けのCSS指定 */
        .inner01{
            margin-top: 750px;
        }
        .sidebar{
            width: 100%;
            padding: 20px 20px 0px 20px;
            left: 0px;
            bottom: 65px;
        }
        .top_kv_sub {
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        .top_kv_nav{
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        .top_inner_contents_nav_content{
            width: 90%;
            }
        .top_inner_contents_text{
        margin-bottom: 40px;
        }
        .top_inner_contents_text_txt{
        padding: 0;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1.5px;
        }
        .top_inner_contents_nav_item p{
            padding-left: 0;
        }
        .top_inner_contents_nav_item a {
            text-align: left;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .top_inner_contents_nav_item a span img{
            width: 16px;
            height: 16px;
            }
        .top_kv_nav_main li {
            margin-right: 10px;
            margin-left: 10px;
        }
        .top_kv_nav_main li a {
            font-size: 18px;
        }
        .top_inner_contents_nav_item a {
            padding-bottom: 10px;
        }
    }
@media screen and (min-width:1920px) {
.main{margin-top: 950px;
}
}
@media screen and (min-width:768px) and ( max-width:1200px) {
        /* ここにタブレット向けのCSS指定 */
        .sidebar{
            bottom: 20px;
            padding: 0;
            left: 0px;
            width: 250px;
        }
        .top_inner_contents {
        padding-left: 170px;
        padding-right: 100px;
        }
        .top_kv_sub {
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        .top_kv_nav{
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        .top_kv_text{
        width: 100px!important;
        }
        .top_kv_img{
        width: 40px!important;
        }
        .top_inner_contents_text_txt{
        padding: 0;
        font-size: 19px;
        line-height: 1.5;
        }
        .top_inner_contents_nav_item p{
            padding-left: 0;
        }
        .top_inner_contents_nav_item a {
            text-align: left;
            font-size: 25px;
        }
        .top_kv_nav_main li {
            margin-right: 10px;
            margin-left: 10px;
        }
        .top_kv_nav_main li a {
            font-size: 23px;
        }
        .top_inner_contents_nav_item a span img{
            width: 16px;
            height: 16px;
        }
}
@media screen and (min-width:1024px) and ( max-width:1750px) {
.video{
height: 100%;
}
}