@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
} 
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #D1C8B4;
  position: relative;
}

body {
  max-width: 100%;
  color: #ffffff;
  margin: 0 auto;
  height: auto;
}

body {
  background-repeat: repeat;
}

header {
  background-color: #1B1A19;
}

.main {
  position: relative;
  height: 100%;
}

.footer {
  background-color: #1B1A19;
}

.inner01 {
  width: 1400px; /* 好きな幅 */
  max-width: 90%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 600px;
}

.sidebar {
  padding-left: 110px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 300px;
  z-index: 10;
}
.sidebar.top_kv_nav .top_kv_nav_main {
  display: flex;
  margin-left: 100px;
}
.sidebar.top_kv_nav .top_kv_nav_mainli {
  font-size: 36px;
  font-family: yumincho;
  writing-mode: vertical-rl;
  display: flex;
  margin-right: 20px;
}

.top_kv_nav {
  display: flex;
}
.top_kv_nav_main {
  display: flex;
}
.top_kv_nav_main li {
  margin-right: 20px;
}
.top_kv_nav_main li a {
  writing-mode: vertical-rl;
  font-size: 28px;
  color: #D0C5AB;
  font-family: yumincho;
}
.top_kv_nav_main li a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.top_kv_sub {
  display: flex;
  justify-items: center;
}

.top_kv_catch {
  writing-mode: vertical-rl;
  font-size: 36px;
  font-family: yumincho;
  float: right;
  position: fixed;
  top: 110px;
  left: 1400px;
}

.top_inner_contents {
  position: relative;
  z-index: 10;
}

.top_inner_contents_text {
  display: block;
  font-family: yumincho;
  line-height: 1.5;
  margin-bottom: 180px;
}
.top_inner_contents_text_txt {
  margin-top: 30px;
  text-align: left;
  padding-left: 600px;
  line-height: 2.5;
  letter-spacing: 1.5px;
  color: #D0C5AB;
}
.top_inner_contents_textnav {
  display: block;
}

.copyright-text {
  text-align: center;
}

.top_inner_contents_nav_content {
  display: inline-block;
  width: 100%;
  padding-bottom: 100px;
}

.top_inner_contents_nav_item {
  display: block;
  font-size: 24px;
  font-family: yumincho;
}

.top_inner_contents_nav_item p {
  padding-left: 600px;
}

.top_inner_contents_nav_item a {
  display: block;
  position: relative;
  color: #D0C5AB;
  font-size: 30px;
  text-align: left;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D0C5AB;
}

.top_inner_contents_nav_item a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  /* ここにSP向けのCSS指定 */
  .inner01 {
    margin-top: 750px;
  }
  .sidebar {
    width: 100%;
    padding: 20px;
    left: 0px;
    bottom: 10px;
  }
  .top_kv_sub {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .top_kv_nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .top_inner_contents_nav_content {
    width: 90%;
  }
  .top_inner_contents_text {
    margin-bottom: 40px;
  }
  .top_inner_contents_text_txt {
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }
  .top_inner_contents_nav_item p {
    padding-left: 0;
  }
  .top_inner_contents_nav_item a {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top_inner_contents_nav_item a span img {
    width: 16px;
    height: 16px;
  }
  .top_kv_nav_main li {
    margin-right: 10px;
    margin-left: 10px;
  }
  .top_kv_nav_main li a {
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .main {
    margin-top: 950px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1590px) {
  /* ここにタブレット向けのCSS指定 */
  .sidebar {
    bottom: 20px;
    padding: 0;
    left: 0px;
    width: 250px;
  }
  .top_inner_contents {
    padding-left: 300px;
    padding-right: 100px;
  }
  .top_kv_sub {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .top_kv_nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .top_kv_text {
    width: 100px !important;
  }
  .top_kv_img {
    width: 40px !important;
  }
  .top_inner_contents_text_txt {
    padding: 0;
    font-size: 19px;
    line-height: 1.5;
  }
  .top_inner_contents_nav_item p {
    padding-left: 0;
  }
  .top_inner_contents_nav_item a {
    text-align: left;
    font-size: 25px;
  }
  .top_kv_nav_main li {
    margin-right: 10px;
    margin-left: 10px;
  }
  .top_kv_nav_main li a {
    font-size: 23px;
  }
  .top_inner_contents_nav_item a span img {
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1750px) {
  .video {
    height: 100%;
  }
}
.header {
  height: 200px;
  width: 100%;
  position: relative;
}
.header_kv_logo img {
  height: 200px;
  width: auto;
  position: fixed;
  z-index: 10;
  top: 50px;
  left: 150px;
  display: grid;
  justify-content: start;
}
.header_kv_logo img_kv_text {
  position: relative;
}
.header_kv_logo img_kv_text_txt {
  font-size: 36px;
  color: #D0C5AB;
  font-family: yumincho;
  line-height: 1.5;
  writing-mode: vertical-rl;
  position: fixed;
  top: 50px;
  right: 150px;
  text-align: justify;
}

.header_kv_text_txt {
  font-size: 36px;
  font-family: yumincho;
  color: #D0C5AB;
  line-height: 1.5;
  writing-mode: vertical-rl;
  position: fixed;
  top: 40px;
  right: 100px;
  z-index: 10;
}

.video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

video {
  position: relative;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .sp {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* ここにSP向けのCSS指定 */
  .header {
    position: relative;
  }
  .header_kv_logo img {
    left: 30px;
    top: 20px;
  }
  .header_kv_logo img_kv_text {
    position: relative;
  }
  .header_kv_text_txt {
    right: 30px;
    top: 60px;
    font-size: 26px;
  }
  .pc {
    display: none;
  }
  .sp video {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header_kv_logo img {
    left: 30px;
  }
  .pc {
    display: none;
  }
}
/* footer*/
.footer {
  width: 100%;
  text-align: center;
}

.top_kv_text {
  font-family: yumincho;
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
  width: 200px;
  color: #D0C5AB;
  border: solid 2px #D0C5AB;
  border-radius: 20px;
}

.top_kv_text:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.top_kv_img {
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

.top_kv_img:hover {
  opacity: 0.5;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  /* ここにSP向けのCSS指定 */
  .top_kv_text {
    font-size: 18px;
    border: solid 1px #D0C5AB;
    border-radius: 20px;
    margin-top: 20px;
    width: 100px;
  }
  .top_kv_img {
    margin-left: 10px;
    width: 30px;
  }
}
/* 全体 */
.inner {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  max-width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.inner_01 {
  width: 600px;
  margin: 0 auto;
  justify-items: center;
}

/* header */
.header_01 {
  background-color: #D1C8B4;
}
.header_01_wrapper {
  text-align: center;
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  border-left: 1px solid #949FAB;
}

.header_01_logo {
  border-bottom: 1px solid #949FAB;
}

.header_01_logo img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40px;
  height: 140px;
}

.header_01_nav_main {
  display: inline-block;
}

.header_01_nav_main li a {
  height: 140px;
  writing-mode: vertical-rl;
  color: #1B1A19;
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.12em;
  line-height: normal;
  margin-top: 10px;
}

.header_01_reserve {
  display: inline-block;
}

.header_01_reserve a {
  height: 140px;
  writing-mode: vertical-rl;
  color: #1B1A19;
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.12em;
  line-height: normal;
}

/* main */
main {
  background-color: #D1C8B4;
}

h1.main_01_title {
  color: #949FAB;
  text-align: left;
  font-family: YuMincho;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 100px;
  position: relative;
}

h1.main_01_title::after {
  content: "";
  width: 100px;
  height: 1px;
  display: inline-block;
  background-color: #949FAB;
  position: absolute;
  bottom: 24px;
  left: calc(50% - 318px);
}

h2.main_01_txt_title {
  color: #1B1A19;
  text-align: left;
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

p.main_01_txt_description {
  color: #1B1A19;
  text-align: left;
  font-family: YuMincho;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: normal;
}

.main_01_img {
  position: relative;
  z-index: -1;
}
.main_01_img img {
  position: fixed;
  top: 30px;
  left: 0;
}

/* ここからSP */
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 34px;
    width: 330px;
  }
  .inner_01 {
    width: 230px;
  }
  /* header */
  .header_01_wrapper {
    width: 40px;
    border-left: 1px solid #949FAB;
  }
  .header_01_logo img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 70px;
  }
  .header_01_nav_main li a {
    height: 85px;
    font-size: 16px;
  }
  .header_01_reserve a {
    height: 140px;
    font-size: 20px;
  }
  /* main */
  h1.main_01_title {
    font-size: 28px;
    margin-top: 10px;
    position: relative;
  }
  h1.main_01_title::after {
    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 19px;
    left: calc(50% - 23px);
  }
  h2.main_01_txt_title {
    font-size: 20px;
    margin-top: 30px;
  }
  p.main_01_txt_description {
    font-size: 16px;
  }
  .main_01_img {
    display: none;
  }
}
/* ここからタブレット */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 34px;
    width: 800px;
  }
  .inner_01 {
    width: 560px;
  }
  /* header */
  .header_01_wrapper {
    width: 110px;
    border-left: 1px solid #949FAB;
  }
  h1.main_01_title::after {
    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 208px);
  }
  .main_01_img {
    display: none;
  }
}
/* 全体 */
.inner {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  max-width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.inner_01 {
  width: 600px;
  margin: 0 auto;
  justify-items: center;
}

/* header */
.header_01 {
  background-color: #D1C8B4;
}
.header_01_wrapper {
  text-align: center;
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  border-left: 1px solid #949FAB;
}

.header_01_logo {
  border-bottom: 1px solid #949FAB;
}

.header_01_logo img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
}

.header_01_nav_main {
  display: inline-block;
}

.header_01_nav_main li a {
  height: 140px;
  writing-mode: vertical-rl;
  color: #1B1A19;
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.12em;
  line-height: normal;
  margin-top: 10px;
}

.header_01_reserve {
  display: inline-block;
}

.header_01_reserve a {
  height: 140px;
  writing-mode: vertical-rl;
  color: #1B1A19;
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.12em;
  line-height: normal;
}

/* main */
main {
  background-color: #D1C8B4;
}

h1.main_01_title {
  color: #949FAB;
  text-align: left;
  font-family: YuMincho;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 100px;
  position: relative;
}

h1.main_01_title::after {
  content: "";
  width: 100px;
  height: 1px;
  display: inline-block;
  background-color: #949FAB;
  position: absolute;
  bottom: 24px;
  left: calc(50% - 318px);
}

.main_01_txt_sub {
  font-size: 18px;
  color: #1B1A19;
  text-align: left;
  font-family: YuMincho;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 100px;
}

h2.main_01_txt_title {
  color: #1B1A19;
  text-align: left;
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

p.main_01_txt_description {
  color: #1B1A19;
  text-align: left;
  font-family: YuMincho;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: normal;
}

.main_01_img {
  position: relative;
  z-index: -1;
}
.main_01_img img {
  position: fixed;
  top: 30px;
  left: 0;
}

/* ここからSP */
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 14px;
    padding-right: 14px;
    width: 330px;
  }
  .inner_01 {
    width: 230px;
  }
  /* header */
  .header_01_wrapper {
    width: 40px;
    border-left: 1px solid #949FAB;
  }
  .header_01_logo img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 70px;
  }
  .header_01_nav_main li a {
    height: 85px;
    font-size: 16px;
  }
  .header_01_reserve a {
    height: 140px;
    font-size: 20px;
  }
  /* main */
  h1.main_01_title {
    font-size: 28px;
    margin-top: 10px;
    position: relative;
  }
  h1.main_01_title::after {
    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 19px;
    left: calc(50% - 23px);
  }
  .main_01_txt_sub {
    font-size: 15px;
    margin-bottom: 50px;
    margin-right: 10px;
  }
  h2.main_01_txt_title {
    font-size: 20px;
    margin-top: 30px;
  }
  p.main_01_txt_description {
    font-size: 16px;
  }
  .main_01_img {
    display: none;
  }
}
/* ここからタブレット */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 34px;
    width: 800px;
  }
  .inner_01 {
    width: 560px;
  }
  /* header */
  .header_01_wrapper {
    width: 110px;
    border-left: 1px solid #949FAB;
  }
  h1.main_01_title::after {
    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 208px);
  }
  .main_01_txt_sub {
    font-size: 18px;
    margin-bottom: 70px;
  }
  .main_01_img {
    display: none;
  }
}
/* 全体 */
.inner {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  max-width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.inner_01 {
  width: 600px;
  margin: 0 auto;
  justify-items: center;
}

/* header */
.header_01 {
  background-color: #D1C8B4;
}
.header_01_wrapper {
  text-align: center;
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  border-left: 1px solid #949FAB;
}

.header_01_logo {
  border-bottom: 1px solid #949FAB;
}

.header_01_logo img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
}

.header_01_nav_main {
  display: inline-block;
}

.header_01_nav_main li a {
  height: 140px;
  writing-mode: vertical-rl;
  color: #1B1A19;
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.12em;
  line-height: normal;
  margin-top: 10px;
}

.header_01_reserve {
  display: inline-block;
}

.header_01_reserve a {
  height: 140px;
  writing-mode: vertical-rl;
  color: #1B1A19;
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.12em;
  line-height: normal;
}

/* main */
main {
  background-color: #D1C8B4;
}

h1.main_01_title {
  color: #949FAB;
  text-align: left;
  font-family: YuMincho;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 100px;
  position: relative;
}

h1.main_01_title::after {
  content: "";
  width: 100px;
  height: 1px;
  display: inline-block;
  background-color: #949FAB;
  position: absolute;
  bottom: 24px;
  left: calc(50% - 318px);
}

.main_01_txt_sub {
  font-size: 18px;
  color: #1B1A19;
  text-align: left;
  font-family: YuMincho;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 100px;
}

h2.main_01_txt_title {
  color: #1B1A19;
  text-align: left;
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

p.main_01_txt_description {
  color: #1B1A19;
  text-align: left;
  font-family: YuMincho;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: normal;
}

.main_01_img {
  position: relative;
  z-index: -1;
}
.main_01_img img {
  position: fixed;
  top: 0;
  left: 0;
}

/* ここからSP */
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 14px;
    padding-right: 14px;
    width: 330px;
  }
  .inner_01 {
    width: 230px;
  }
  /* header */
  .header_01_wrapper {
    width: 40px;
    border-left: 1px solid #949FAB;
  }
  .header_01_logo img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 70px;
  }
  .header_01_nav_main li a {
    height: 85px;
    font-size: 16px;
  }
  .header_01_reserve a {
    height: 140px;
    font-size: 20px;
  }
  /* main */
  h1.main_01_title {
    font-size: 28px;
    margin-top: 10px;
    position: relative;
  }
  h1.main_01_title::after {
    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 19px;
    left: calc(50% - 23px);
  }
  .main_01_txt_sub {
    font-size: 15px;
    margin-bottom: 50px;
    margin-right: 10px;
  }
  h2.main_01_txt_title {
    font-size: 20px;
    margin-top: 30px;
  }
  p.main_01_txt_description {
    font-size: 16px;
  }
  .main_01_img {
    display: none;
  }
}
/* ここからタブレット */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 34px;
    width: 800px;
  }
  .inner_01 {
    width: 560px;
  }
  /* header */
  .header_01_wrapper {
    width: 110px;
    border-left: 1px solid #949FAB;
  }
  h1.main_01_title::after {
    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 208px);
  }
  .main_01_txt_sub {
    font-size: 18px;
    margin-bottom: 70px;
  }
  .main_01_img {
    display: none;
  }
}/*# sourceMappingURL=app.css.map */